/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}

body {
  background-color: #fff;
  color: #555;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  width: 90%;
}

/* Header
   ========================================================================== */

header {
  background-color: #497bad;
  text-align: center;
}

footer {
  background-color: #497bad;
  text-align: center;
}

footer h1 {
  border: 3px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  padding: .4rem .6rem;
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

footer p {
  color: rgba(255,255,255,0.7);
  margin: 0 auto;
}

footer a {
  color: rgba(255,255,255,0.9);
  text-decoration: underline;
}

footer a:hover { text-decoration: none; }

.intro { margin: 0; }

@media (min-width: 40rem) {
  .intro { margin: 2rem 0; }
}

header h1 {
  border: 3px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  padding: .4rem .6rem;
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

header p {
  color: rgba(255,255,255,0.7);
  margin: 0 auto;
}

header a {
  color: rgba(255,255,255,0.9);
  text-decoration: underline;
}

header a:hover { text-decoration: none; }

.mobile {
  margin: 0 auto;
  max-width: 150px;
}

@media (min-width: 40rem) {
  .mobile { max-width: 250px; }
}

/* Section
   ========================================================================== */

section {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 0;
}

section:first-of-type { border-top: none; }

@media (min-width: 40rem) {
  section { padding: 0; }
}

/* Mobile First Grid
   ========================================================================== */

.column { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

/* Typography
   ========================================================================== */

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 1.3rem;
  line-height: 1.3em;
  margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
  h1 { font-size: 1.5rem; }
}

h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

p {
  color: #999;
  margin: 0 auto;
  max-width: 30rem;
}

blockquote { margin: 0; }

blockquote p {
  color: #bbb;
  font-style: italic;
  margin-bottom: 1.5rem;
}

cite { color: #bbb; }


/* Lists
   ========================================================================== */

ul {
  margin: 0;
  text-align: left;
}

@media (min-width: 40rem) {
  ul { display: inline-block; }
}

/* Links
   ========================================================================== */

a {
  color: #497bad;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

/* Buttons
   ========================================================================== */

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #497bad;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover {
  background: #5183b6;
  text-decoration: none;
}

@media (min-width: 40rem) {
  .button {
    display: inline-block;
    font-size: 0.9rem;
  }
}

/* Elements
   ========================================================================== */

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2rem auto;
  width: 3rem;
}

@media (min-width: 40rem) {
  hr { margin: 2.5rem auto; }
}

hr.small { margin: 1.5rem auto; }

img {
  display: block;
  height: auto;
  margin: 0 auto 1.5rem auto;
  width: 100%;
}

.rwd {
  margin: 0 auto 1.5rem auto;
  max-width: 440px;
}

/* Examples
   ========================================================================== */

.example {
  border-top: none;
  background-color: #497bad;
  color: #fff;
}

.example p { color: rgba(255,255,255,0.7); }
.example img { margin: 0; }

@media (min-width: 40rem) {
  .fragmentation { min-height: 500px; }
}

.mobile-first .column {
  float: none;
  margin-bottom: 1rem;
}

.grid { text-align: center; }

.grid span {
  background: rgba(225,255,255,0.1);
  border: 2px solid rgba(255,255,255,0.2);
  display: block;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

@media (min-width: 40rem) {
  .grid .container { padding: 1rem 0 0 0; }
}

.grid .column { margin-bottom: 1rem; }

.row-example .container {
  border: 2px dashed rgba(255,255,255,0.2);
  padding: 1rem;
}

.row-example .row {
  background: rgba(225,255,255,0.1);
  border: 2px solid rgba(255,255,255,0.2);
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
}

.row-example .row:last-of-type { margin-bottom: 0; }

@media (min-width: 40rem) {
  .row-example .row { padding: 1rem 0 0 0; }
}

.gutters {
  border: 2px dashed #eee;
  margin-bottom: 2rem;
  max-width: 39rem;
  padding: 1rem 1rem 0 1rem;
}

.gutters .column {
  background: #fb917e;
  margin-bottom: 1rem;
}

.gutters span {
  background: #f8f8f8;
  color: #999;
  display: block;
  padding: 1rem 0;
}


/* Utilities
   ========================================================================== */

.remove-padding { padding-bottom: 0; }
.remove-border { border: none; }

/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
