/*
.logo {
    height: 52px;
    width: 201px;
    background: url(images/proluxa-logo.png);
    margin-top: 16px;
}

#header p {
    font: 100 16.8px ProximaNova-Light;
    color: #7f9a15;
    margin-top: 60px;
}
nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav ul li {
    font: 100 1.7em ProximaNova-Light;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #3b3b3a;
    display: block;
    height: 100%;
    margin: 0 .8em;
    padding-bottom: 41px;
    padding-top: 37px;
    border-bottom: 4px solid transparent;
}

nav a:hover {
    text-decoration: none;
    border-bottom: 4px solid #7f9a15;
}
*/

.navbar {
    margin-bottom: 0;
    border: 0;    
}

.bs-docs-nav {
    background: white;
}

.navbar-toggle {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-toggle .icon-bar {
    background: rgba(133, 158, 32, 1);
}

.navbar-toggle .icon-bar {
    height: 4px;
}
.navbar-nav>li>a {
    color:black;
    padding:0;
    padding-top:42px;
    border-bottom:4px solid transparent;
    padding-bottom: 40px;
    text-transform:uppercase;
    text-align:center;
    margin:0 15px;
    font: 100 1.6em ProximaNova-Light;
}
.navbar-nav>li>a:hover {
    border-bottom:4px solid #7f9a15;
    background:white;
}

#teaser {
    background: url(../images/bg-picture-sw.png);
    height: 700px;
    min-height: 100%;
    position: relative;
}

#teaser img {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -144px;
}

.arrow-left,
.arrow-right {
    width: 60px;
    height: 60px;
    background:rgba(26, 127, 167, 0.5);
    position: absolute;
    bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-left {
    right: 16%;
    background-image: url(../images/arrow-left.png);
}

.arrow-right {
    right: 10%;
    background-image: url(../images/arrow-right.png);
}

.fb-side {
    position: absolute;
    left: 0;
    top: 50px;
    background: url(../images/facebook.png);
    height: 60px;
    width: 60px;
}

#intro {
    position: relative;   
}

#intro-button {
    text-decoration: none;
    background-color: #1a7fa7;
    border: 1px solid #1a7fa7;
    font: 300 24px ProximaNova-Light;
    color: #ffffff;
    padding: 20px 48px;
    margin: 60px auto;
    width: 360px;
    display: block;
    white-space:nowrap;
    -webkit-transition: color .3s,background-color .3s;
    transition: color .3s,background-color .3s;
}

#intro-button:hover {
    background-color: #ffffff;
    color: #1a7fa7;
}

.infotext {
    background-color: #575656;
    color: #ffffff;
    padding: 20px 20px 120px 20px;
}

h2 {
    font: 100 24px ProximaNova-Light;
}

.eco-label {
    position: absolute;
    background: url(../images/eco-label.png);
    right: 40px;
    bottom: 40px;
    height: 120px;
    width: 121px;
}

.paddingless {
    padding: 0;
}

.text-center {
    text-align: center;
}

#about-us h1 {
    text-transform: uppercase;
}

#about-us img {
    margin: 0 auto;
}

p {
    font: 100 22px/1.4em ProximaNova-Light;    
}

h1 {
    font: 100 54px ProximaNova-Thin;
    color: #7f9a15;
}

h1 span {
    color: #3b3b3a;
}

footer {
    background-color: #7f9a15;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    text-align: center;
    font: 300 14px ProximaNova-Light;
    color: #ffffff;
}